.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 10%;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 80px;
    position: absolute;
    bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border-radius: 15px;
}
